/* 공통 레이아웃 */
.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 화면 전체 최소 높이 */
}

/* 메인 콘텐츠 영역 */
.admin-container {
  flex: 1; /* 남은 공간 모두 차지 */
  display: flex;
  padding-top: 0;
}
