.tailylogo {
  width: 250px;
  height: auto;
}

.registerform {
  border: #fff;
}

.inputname {
  font-weight: 600;
  font-size: 20px;
}

/* input 필드 테두리 */
.form-input-bordered {
  border: 2px solid #4f1f02;
  border-radius: 20px;
  padding: 0.5rem;
}

/* 버튼 테두리 */
.check-button-bordered {
  border: 2px solid #4f1f02;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  padding: 0.45rem 1rem;
  font-weight: 700;
  transition: 0.2s;
  min-width: 100px;
}

.check-button-bordered:hover {
  background-color: #4f1f02;
  color: #fff;
}

/* 완료 버튼 */
.submit-button-bordered {
  border: 0px solid #4f1f02;
  background-color: #feb916;
  color: #fff;
  border-radius: 20px;
  padding: 0.6rem;
  font-weight: 600;
  transition: 0.2s;
  font-size: 20px;
}

.submit-button-bordered:hover {
  background-color: #4f1f02;
  color: #fff;
}

/* 모바일: 버튼 아래 배치 */
@media (max-width: 767px) {
  .d-flex.flex-column.flex-md-row {
    flex-direction: column !important;
  }
}
