.message-box {
    border-radius: 10px;
}
.hover-effect:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.badge {
    background-color: rgba(254, 186, 23, 0.5);
    color: #fff;
}

.clickable {
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.clickable:hover {
    background-color: #f8f9fa;
}