/* 전체 감싸는 테두리 영역 */
.mypage-wrapper {
  border: 2px solid #4f1f02;
  border-radius: 15px;
  margin: 60px auto;
  padding: 40px 0;
  max-width: 1100px;
  background-color: #fffdf9;
}

/* 내부 컨테이너 */
.mypage-container {
  max-width: 950px;
  margin-top: 20px;
}

/* 카드 스타일 */
.mypage-card {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.user-nickname{
  margin-top: 10px;
  margin-right : 50px !important;
}


/* 반응형 */
@media (max-width: 768px) {
  .mypage-wrapper {
    border: none;
    padding: 20px;
  }
}
