# ========== OS ==========
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# ========== Node / Vite ==========
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
bower_components
web_modules/

# Vite build & cache
dist/
.vite/
*.tsbuildinfo

# Coverage / Testing
coverage/
*.lcov
.nyc_output

# Caches
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_*/
.node_repl_history

# Package artifacts
*.tgz
.yarn-integrity
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Env files
.env
.env.local
.env.*.local
!.env.example

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# ========== Editor ==========
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

.history/
.ionide
.vscode-test
*.vsix

# JetBrains (WebStorm, IntelliJ)
.idea/
