/* body/html 기본 flex 제거 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

/* 헤더 */
.admin-header {
  background-color: #1e40af; /* 파란색 배경 */
  color: white;
  padding: 1rem 2rem; /* 상하 1rem, 좌우 2rem */
  text-align: left; /* 왼쪽 정렬 */
  font-weight: 600;
  font-size: 1.25rem;
}

.admin-header-title {
  margin: 0; /* 기본 여백 제거 */
}

.admin-login-page-container {
  display: flex;
  justify-content: center; /* 수평 중앙 */
  background-color: #fff;
  margin-top: 180px;
}

.admin-loginformbox {
  width: 1000px; /* 폼 가로 길이 */
  padding: 10px 10px;
  border: none;
}

.admin-login-form-vertical .form-group {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-logininputfield {
  height: 40px;
  border: 2px solid #586fc0 !important;
  border-radius: 20px !important;
  padding: 0 15px;
  font-size: 16px;
}

.admin-loginformbox .admin-loginbutton {
  background-color: #fff !important;
  border: 2px solid #586fc0 !important;
  border-radius: 20px;
  color: #586fc0 !important;
  padding: 8px 0px;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 550px;
  display: block;
  margin: 30px auto 0 auto;
  box-shadow: none !important;
  outline: none !important;
}

.admin-loginformbox .admin-loginbutton:hover {
  background-color: #586fc0 !important;
  color: #fff !important;
}

/* 어드민 사이드 바 */
/* .sidebar-logo {
  background-color: #AEAEAE;
} */
.admin-sidebar-navbar .container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}
.admin-sidebar-navbar {
  background-color: #2036b3 !important;
  width: 220px;
  height: 100vh;
  position: fixed;
  padding: 0 !important;
  margin: 0 !important;
  top: 0;
  left: 0;
  z-index: 1000; /* 다른 요소 위에 오도록 */
}

.admin-nav-list {
  background-color: #2036b3;
  height: calc(100vh - 80px);
  padding-top: 10px;
}

.admin-nav-list .nav-link {
  color: white !important;
  cursor: pointer;
}

.admin-nav-list .nav-link:hover {
  background-color: #0d6efd;
  color: #fff !important;
}
.nav-link-active {
  background-color: #0d6efd !important;
  color: #fff !important;
}

.admin-logo {
  width: 100%;
  font-size: 18px;
  text-align: center;
  background-color: #ced4da;
  color: #fff !important;
  padding: 12px 0;
  box-sizing: border-box;
}

.admin-offcanvas .offcanvas-body {
  background-color: #2036b3;
}

.admin-offcanvas .nav-link {
  color: white !important;
}

.admin-offcanvas .nav-link.active {
  background-color: #0d6efd !important;
  color: black !important;
  font-weight: bold;
}
