/* body/html 기본 flex 제거 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

/* 헤더 */


.admin-login-wrapper {
  min-height: 100vh;
  background-color: #f8f9fa; /* 연한 배경 */
}

.login-card {
  padding: 1.5rem;
  border-radius: 0.75rem;
}

.login-card .card-title {
  font-size: 20px;
  font-weight: 600;
}

.login-card .form-control {
  border: 1px solid #3f51b5;
  border-radius: 4px;
}

.login-card .btn-primary {
  background-color: #3f51b5;
  border-color: #3f51b5;
}

.login-card .btn-primary:hover {
  background-color: #303f9f;
  border-color: #303f9f;
}

/* 어드민 사이드 바 */
/* .sidebar-logo {
  background-color: #AEAEAE;
} */

.admin-sidebar {
    width: 200px;
    background-color: #2036b3; /* 파란색 */
    height: 100vh;
    padding-top: 20px;
}

.sidebar-link {
    color: white;
    padding: 12px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.sidebar-link:hover {
    background-color: #1a2a8c;
    color: #fff;
}

.active-menu {
    background-color: #ffc107; /* Bootstrap warning 색상 */
    color: #000 !important;
    font-weight: bold;
}

