.detail-box {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h2 {
    font-weight: bold;
}
.card-header {
    background-color: #fff;
}
.images{
    border: 1px solid;
    width: 600px;
    height: 600px;
    text-align: center;
    border-radius: 20px;
}