.map-container {
  max-width: 800px;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #feb916;
  overflow: hidden;
  margin: auto;
  margin-bottom: 30px;
}

/* .diary-box{
  width:50% ;
  margin: 0 auto;
} */
